GOOGLE_API_KEY="your_google_api_key"
QDRANT_URL="http://localhost:6333"
QDRANT_COLLECTION="phishing_knowledge"
DATA_DIR="data"
SIMILARITY_TOP_K="5"
AUTO_INGEST_ON_STARTUP="true"
RECREATE_ON_STARTUP="true"